*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar{
    display: flex;
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
}
.left_navbar{
    display: flex;
    gap: 10rem;
    justify-content: space-between;
}